{{- $az_id := getenv "AZ_ID"  -}}
{{- $vpc_id := getenv "VPC_ID"  -}}
{{- $vips := printf "/nginx/%s/%s" $az_id $vpc_id  -}}
{{- range $vip_index, $vip := lsdir $vips -}}
{{- $pools := printf "/nginx/%s/%s/%s/http/upstream" $az_id $vpc_id $vip -}}
    {{- $listeners := printf "%s/%s/http/listeners" $vips $vip  -}}
    {{- range $listener_index, $listener := lsdir $listeners  -}}
        {{- $listener_key := printf "%s/%s" $listeners $listener -}}{{$listener_value := json (getv $listener_key)  -}}
        {{- $servers := printf "%s/servers" $listener_key  -}}
        {{- range $server_index, $server := ls $servers  -}}
            {{- $locations := printf "%s/%s/locations" $servers $server  -}}
            {{- range $location_index, $location := lsdir $locations -}}
                {{- $location_key := printf "%s/%s" $locations $location  -}}
                {{- $location_value := json (getv $location_key)  -}}
                {{- $health_check := printf "%s/health_check" $location_key -}}

                {{- /*case 1 for the location's default pool*/ -}}
                {{- $pool_id := $location_value.default_pool_id -}}
                {{- $pool_key := printf "%s/%s" $pools $pool_id -}}
                {{- if and (exists $pool_key) ($pool_value := json (getv $pool_key)) -}}
                    {{-  $upstream_name := printf "%s_%d_%d_%d_%d_default" (base64Encode $pool_id) $vip_index $listener_index $server_index $location_index -}}
                    {{-  if and (exists $health_check) ($health_check_value := json (getv $health_check)) -}}
                        {{- $health_check_flags := "" -}}
                        {{- if ne $health_check_value.uri "" -}}
                            {{- $health_check_flags = printf "uri=%s" $health_check_value.uri -}}
                        {{- end -}}
                        {{- if $health_check_value.interval -}}
                            {{- $health_check_flags = printf "%s interval=%.0f" $health_check_flags $health_check_value.interval -}}
                        {{- end -}}
                        {{- if $health_check_value.mandatory -}}
                            {{- $health_check_flags = printf "%s mandatory" $health_check_flags -}}
                            {{- if $health_check_value.persistent -}}
                                {{- $health_check_flags = printf "%s persistent" $health_check_flags -}}
                            {{- end -}}
                        {{- end -}}
                        {{- if $health_check_value.port -}}
                            {{- $health_check_flags = printf "%s port=%.0f" $health_check_flags $health_check_value.port -}}
                        {{- end -}}
                        {{- if $health_check_value.passes -}}
                            {{- $health_check_flags = printf "%s passes=%.0f" $health_check_flags $health_check_value.passes -}}
                        {{- end -}}    
                        {{- if $health_check_value.fails -}}
                            {{- $health_check_flags = printf "%s fails=%.0f" $health_check_flags $health_check_value.fails -}}
                        {{- end -}}    
                        {{- if $health_check_value.jitter -}}
                            {{- $health_check_flags = printf "%s jitter=%.0f" $health_check_flags $health_check_value.jitter -}}
                        {{- end -}}    
                        {{- if or ($health_check_value.body) ($health_check_value.status) -}}
                            {{- $match_name := printf "match_%d_%d_%d_%d" $vip_index $listener_index $server_index $location_index -}}
                            {{- $health_check_flags = printf "%s match=%s" $health_check_flags $match_name -}}
                        {{- end }}    
         location @{{$upstream_name}} {
                        {{- if $health_check_value.proxy_connect_timeout }}
             proxy_connect_timeout {{$health_check_value.proxy_connect_timeout}};
                        {{- end -}}
                        {{- if $health_check_value.proxy_read_timeout }}
             proxy_read_timeout {{$health_check_value.proxy_read_timeout}};
                        {{- end -}}
                        {{- if $health_check_value.proxy_send_timeout }}
             proxy_send_timeout {{$health_check_value.proxy_send_timeout}};
                        {{- end }}

                        {{- if $health_check_value.keepalive_timeout }}
             keepalive_timeout {{$health_check_value.keepalive_timeout}};    
                        {{- end }}
             health_check {{$health_check_flags}};
             proxy_pass http://{{$upstream_name}};
         }             
                    {{-  end }}
                {{- end -}}

                {{- /*case 2 for the location's mirror proxy_pass_pool*/ -}}
                {{- $mirror := printf "%s/mirror" $location_key  -}}
                {{- if and (exists $mirror) ($mirror_value := json (getv $mirror)) -}}
                    {{- $pool_id := $mirror_value.proxy_pass_pool -}}
                    {{- $pool_key := printf "%s/%s" $pools $pool_id -}}

                    {{- if and (exists $pool_key) ($pool_value := json (getv $pool_key)) -}}
                        {{ $upstream_name := printf "%s_%d_%d_%d_%d_mirror" (base64Encode $pool_id) $vip_index $listener_index $server_index $location_index }}
                        {{-  if and (exists $health_check) ($health_check_value := json (getv $health_check)) -}}
                            {{- $health_check_flags := "" -}}
                            {{- if ne $health_check_value.uri "" -}}
                                {{- $health_check_flags = printf "uri=%s" $health_check_value.uri -}}
                            {{- end -}}
                            {{- if $health_check_value.interval -}}
                                {{- $health_check_flags = printf "%s interval=%.0f" $health_check_flags $health_check_value.interval -}}
                            {{- end -}}
                            {{- if $health_check_value.mandatory -}}
                                {{- $health_check_flags = printf "%s mandatory" $health_check_flags -}}
                                {{- if $health_check_value.persistent -}}
                                    {{- $health_check_flags = printf "%s persistent" $health_check_flags -}}
                                {{- end -}}
                            {{- end -}}
                            {{- if $health_check_value.port -}}
                                {{- $health_check_flags = printf "%s port=%.0f" $health_check_flags $health_check_value.port -}}
                            {{- end -}}
                            {{- if $health_check_value.passes -}}
                                {{- $health_check_flags = printf "%s passes=%.0f" $health_check_flags $health_check_value.passes -}}
                            {{- end -}}    
                            {{- if $health_check_value.fails -}}
                                {{- $health_check_flags = printf "%s fails=%.0f" $health_check_flags $health_check_value.fails -}}
                            {{- end -}}    
                            {{- if $health_check_value.jitter -}}
                                {{- $health_check_flags = printf "%s jitter=%.0f" $health_check_flags $health_check_value.jitter -}}
                            {{- end -}}    
                            {{- if $health_check_value.match -}}
                                {{- $match_name := printf "match_%d_%_d%d_%d" $vip_index $listener_index $server_index $location_index -}}
                                {{- $health_check_flags = printf "%s match=%s" $health_check_flags $match_name -}}
                            {{- end }}    
         location @{{$upstream_name}} {
             health_check {{$health_check_flags}};
                            {{- if $health_check_value.proxy_connect_timeout }}
             proxy_connect_timeout {{$health_check_value.proxy_connect_timeout}};
                            {{- end -}}
                            {{- if $health_check_value.proxy_read_timeout }}
             proxy_read_timeout {{$health_check_value.proxy_read_timeout}};
                            {{- end -}}
                            {{- if $health_check_value.proxy_send_timeout }}
             proxy_send_timeout {{$health_check_value.proxy_send_timeout}};
                            {{- end }}

                            {{- if $health_check_value.keepalive_timeout }}
             keepalive_timeout {{$health_check_value.keepalive_timeout}};    
                            {{- end }}
             proxy_pass http://{{$upstream_name}};
         }             
                        {{- end -}}
                    {{- end -}}
                {{- end -}}

                {{- /*case 3 for the location's routerules conditions redirect_pool*/ -}}
                {{- /*case 4 for the location's routerules ratio redirect_pool*/ -}}
                {{- $traffic_route := printf "%s/traffic_route" $location_key  -}}
                {{- if and (exists $traffic_route) ($traffic_route_value := json (getv $traffic_route)) -}}
                    {{- $routerules := $traffic_route_value.routerule -}}
                    {{- $ratios := $traffic_route_value.ratio -}}
                    {{- /*we only support two kinds of traffic routes so far*/ -}}
                    {{- if $routerules -}}
                        {{- range $rule_index, $rule := $routerules -}}
                            {{- $pool_id = $rule.redirect_pool -}}
                            {{- $pool_key := printf "%s/%s" $pools $pool_id -}}
                            {{- if and (exists $pool_key) ($pool_value := json (getv $pool_key)) -}}
                                {{ $upstream_name := printf "%s_%d_%d_%d_%d_routerule_%d" (base64Encode $pool_id) $vip_index $listener_index $server_index $location_index $rule_index }}

                                {{-  if and (exists $health_check) ($health_check_value := json (getv $health_check)) -}}
                                    {{- $health_check_flags := "" -}}
                                    {{- if ne $health_check_value.uri "" -}}
                                        {{- $health_check_flags = printf "uri=%s" $health_check_value.uri -}}
                                    {{- end -}}
                                    {{- if $health_check_value.interval -}}
                                        {{- $health_check_flags = printf "%s interval=%.0f" $health_check_flags $health_check_value.interval -}}
                                    {{- end -}}
                                    {{- if $health_check_value.mandatory -}}
                                        {{- $health_check_flags = printf "%s mandatory" $health_check_flags -}}
                                        {{- if $health_check_value.persistent -}}
                                            {{- $health_check_flags = printf "%s persistent" $health_check_flags -}}
                                        {{- end -}}
                                    {{- end -}}
                                    {{- if $health_check_value.port -}}
                                        {{- $health_check_flags = printf "%s port=%.0f" $health_check_flags $health_check_value.port -}}
                                    {{- end -}}
                                    {{- if $health_check_value.passes -}}
                                        {{- $health_check_flags = printf "%s passes=%.0f" $health_check_flags $health_check_value.passes -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.fails -}}
                                        {{- $health_check_flags = printf "%s fails=%.0f" $health_check_flags $health_check_value.fails -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.jitter -}}
                                        {{- $health_check_flags = printf "%s jitter=%.0f" $health_check_flags $health_check_value.jitter -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.match -}}
                                        {{- $match_name := printf "match_%d_%d_%d_%d" $vip_index $listener_index $server_index $location_index -}}
                                        {{- $health_check_flags = printf "%s match=%s" $health_check_flags $match_name -}}
                                    {{- end }}    
         location @{{$upstream_name}} {
                                    {{- if $health_check_value.proxy_connect_timeout }}
             proxy_connect_timeout {{$health_check_value.proxy_connect_timeout}};
                                    {{- end -}}
                                    {{- if $health_check_value.proxy_read_timeout }}
             proxy_read_timeout {{$health_check_value.proxy_read_timeout}};
                                    {{- end -}}
                                    {{- if $health_check_value.proxy_send_timeout }}
             proxy_send_timeout {{$health_check_value.proxy_send_timeout}};
                                    {{- end }}

                                    {{- if $health_check_value.keepalive_timeout }}
             keepalive_timeout {{$health_check_value.keepalive_timeout}};    
                                    {{- end }}
             health_check {{$health_check_flags}};
             proxy_pass http://{{$upstream_name}};
         }             
                                {{- end -}}

                            {{- end -}} 

                        {{- end -}}
                    {{- else if $ratios -}}
                        {{- range $ratio_index, $ratio := $ratios -}}
                            {{- $pool_id = $ratio.redirect_pool -}}
                            {{- $pool_key := printf "%s/%s" $pools $pool_id -}}
                            {{- if and (exists $pool_key) ($pool_value := json (getv $pool_key)) -}}
                                {{ $upstream_name := printf "%s_%d_%d_%d_%d_ratio_%d" (base64Encode $pool_id) $vip_index $listener_index $server_index $location_index $ratio_index }}
                                {{-  if and (exists $health_check) ($health_check_value := json (getv $health_check)) -}}
                                    {{- $health_check_flags := "" -}}
                                    {{- if ne $health_check_value.uri "" -}}
                                        {{- $health_check_flags = printf "uri=%s" $health_check_value.uri -}}
                                    {{- end -}}
                                    {{- if $health_check_value.interval -}}
                                        {{- $health_check_flags = printf "%s interval=%.0f" $health_check_flags $health_check_value.interval -}}
                                    {{- end -}}
                                    {{- if $health_check_value.mandatory -}}
                                        {{- $health_check_flags = printf "%s mandatory" $health_check_flags -}}
                                        {{- if $health_check_value.persistent -}}
                                            {{- $health_check_flags = printf "%s persistent" $health_check_flags -}}
                                        {{- end -}}
                                    {{- end -}}
                                    {{- if $health_check_value.port -}}
                                        {{- $health_check_flags = printf "%s port=%.0f" $health_check_flags $health_check_value.port -}}
                                    {{- end -}}
                                    {{- if $health_check_value.passes -}}
                                        {{- $health_check_flags = printf "%s passes=%.0f" $health_check_flags $health_check_value.passes -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.fails -}}
                                        {{- $health_check_flags = printf "%s fails=%.0f" $health_check_flags $health_check_value.fails -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.jitter -}}
                                        {{- $health_check_flags = printf "%s jitter=%.0f" $health_check_flags $health_check_value.jitter -}}
                                    {{- end -}}    
                                    {{- if $health_check_value.match -}}
                                        {{- $match_name := printf "match_%d_%d_%d_%d" $vip_index $listener_index $server_index $location_index -}}
                                        {{- $health_check_flags = printf "%s match=%s" $health_check_flags $match_name -}}
                                    {{- end }}    
         location @{{$upstream_name}} {
         location @{{$upstream_name}} {
                                    {{- if $health_check_value.proxy_connect_timeout }}
             proxy_connect_timeout {{$health_check_value.proxy_connect_timeout}};
                                    {{- end -}}
                                    {{- if $health_check_value.proxy_read_timeout }}
             proxy_read_timeout {{$health_check_value.proxy_read_timeout}};
                                    {{- end -}}
                                    {{- if $health_check_value.proxy_send_timeout }}
             proxy_send_timeout {{$health_check_value.proxy_send_timeout}};
                                    {{- end }}

                                    {{- if $health_check_value.keepalive_timeout }}
             keepalive_timeout {{$health_check_value.keepalive_timeout}};    
                                    {{- end -}}
             health_check {{$health_check_flags}};
             proxy_pass http://{{$upstream_name}};
         }             
                                {{- end -}}

                            {{- end -}}

                        {{- end -}}
                    {{- end -}}
                {{- end -}}

            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}
